/* Primary colors */
primary-colors {
    color: #DDDCDA; /* light background */
    color: #1E3706; /* main */
    color: #E9E9E9; /* grey for higlight */
}

body {
    font-family: 'Savingbuckets Font';
    color: #1E3706;
    margin-left: 20px;
    padding-left: 4rem;
}
/* this body is not changing anything */

#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
        padding-top: 104px; 
    }
}

@font-face {
    font-family: "Savingbuckets Font";
    src: url("fonts/TenorSans-Regular.ttf") format("truetype");
} 

.bg-secondary {
    background-color: #E9E9E9 !important;
}

.navbar-brand {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-right: 0rem !important;
    font-family: 'Savingbuckets Font';
    font-size: 2.5rem !important; 
    color: #1E3706 !important;
}

.font-change {
    font-family: 'Savingbuckets Font';
}

.tagline {
    font-size: smaller;
    color: #1E3706;
    /* margin-top: 0rem; */
}

#mainNav {
    padding-top: 0rem ;
    padding-bottom: 0rem;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background: #DDDCDA;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #1E3706;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #E9E9E9;
    background: #1E3706;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #1E3706;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1E3706;
    text-decoration: underline;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #E9E9E9;
    background: #1E3706;
}

.navbar-flex {
    display: flexbox;
    align-content: space-around;
}

.goal_progress_btns {
    display: flex;
    flex-direction: row;
}

#accounts {
    margin: 10px;
}

#goals {
    margin: 10px;
}

button {
    margin-left: 10px;
    align-self: center;
    margin-bottom: 20px;
    vertical-align: middle;
}

h5 {
    font-weight: bold;
    font-size: 1rem !important; 
    font-family: 'Savingbuckets Font';
}

h1 {
    font-family: 'Savingbuckets Font';
}

.img-icons {
    width:  50px;
    height: 50px;
}

.contact_body {
    /* background-image: url("/static/theme/assets/money-transp.png");  */
    font-size: 2rem;
    font-weight: bolder;
    }

.img-me {
    width: auto;
    height: 300px;
    margin-right: 10px;
}

.contact-box {
    display: flex;
    flex-direction: row;
}

/* timeline */

.history-tl-container{
    width:50%;
    margin:auto;
    display:block;
    position:relative;
    margin: 0px 130px !important;
}
.history-tl-container ul.tl{
    margin:10px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:2px dashed #1E3706;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #1E3706;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before{
    border-color:  #1E3706;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -60%;
    text-align: left;
    font-size: 12px;
}

.history-h1 {
    margin-left: 20px !important;
}

.btn-secondary {
    background-color: #1E3706;
    
}

.btn-secondary:hover {
    background-color: #6D7C60 ;
}

.btn-success {
    background-color: greenyellow !important;
}

#locked-btn {
    background-color: #6D7C60 ;
}