/* Primary colors */
primary-colors {
    color: #DDDCDA; /* light background */
    color: #1E3706; /* main */
    color: #E9E9E9; /* grey for higlight */
}

body {
    font-family: 'Savingbuckets Font';
    color: #1E3706;
    margin-left: 20px;
    padding-left: 2.6rem;
}
/* this body is not changing anything */

#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
        padding-top: 104px; 
    }
}

@font-face {
    font-family: "Savingbuckets Font";
    src: url("fonts/TenorSans-Regular.ttf") format("truetype");
} 

.bg-secondary {
    background-color: #E9E9E9 !important;
}

.navbar-brand {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-right: 0rem !important;
    font-family: 'Savingbuckets Font';
    font-size: 2.5rem !important; 
    color: #1E3706 !important;
}

.font-change {
    font-family: 'Savingbuckets Font';
}

.tagline {
    font-size: smaller;
    color: #1E3706;
    /* margin-top: 0rem; */
}

#mainNav {
    padding-top: 0rem ;
    padding-bottom: 0rem;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background: #DDDCDA;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #1E3706;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #E9E9E9;
    background: #1E3706;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #1E3706;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1E3706;
    text-decoration: underline;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #E9E9E9;
    background: #1E3706;
}

.navbar-flex {
    display: flexbox;
    align-content: space-around;
}

.goal_progress_btns {
    display: flex;
    flex-direction: row;
}

#accounts {
    margin: 10px;
}

#goals {
    margin: 10px;
}

button {
    margin-left: 10px;
    align-self: center;
}

h5 {
    font-weight: bold;
}

.img-icons {
    width:  50px;
    height: 50px;
}

.contact_body {
    background-image: url("/static/theme/assets/money-transp.png"); 
    }

.img-me {
    width: auto;
    height: 300px;
    margin-right: 10px;
}

.contact-box {
    display: flex;
    flex-direction: row;
}