{% extends 'base.html' %} 
<title>{% block title %}History{% endblock %}</title>
{% block content %}

<h1 class="history-h1">History</h1>

<div class="history-container" >

            {% for goal in completed_goals reversed %}
            <div class="history-item">
                <div class="timestamp">
                    {{ goal.date_completed}}
                </div>
                <div class="dots">
                    <span class="dot"></span>
                </div>
                <div class="item-title">{{goal.name}}</div>
                <div class="item-detail">{{goal.cost}}</div>
            </div>
            {% endfor %}

</div>


<a href="{% url 'savings:home' %}" ><input type="button" value="Back" class="btn btn-secondary" style="margin-left: 70p !important;"></a>

{% endblock content %}

{% comment %} Resource/Inspo for the timeline {% endcomment %}
{% comment %} https://codepen.io/pranjal-goswami/pen/RNdpOP {% endcomment %}


