{% extends 'base.html' %} 
{% load static %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}

<div style="width: 100%; margin: 0 auto; ">
<div style="display:flex">
    <div style="width:50%">
        <table id="goals-table">
            <div class="goal-progress-btns">
                <h1 style="display: inline;">Saving Goals</h1>
                <a href="{% url 'savings:add-goal' %}" >
                <button id="goal-btn" class="btn btn-secondary" >➕</button></a>
            </div>

            <table id="goals">
                <tbody>
                    {% for goal in goals %}
                        {% if goal.status != 'completed' %}
                            <tr>
                                <td class="d-flex flex-column"> 
                                    <div class="d-flex flex-row">
                                        <h5 style="margin-top: 15px;">{{ goal.name }}: {{ goal.cost }}</h5>
                                    </div>
                                </td>
                                <td>
                                    <div class="goal-progress-btns">  
                                        <!-- BUY btn  -->
                                    
                                        <button id="buy-btn" class="btn btn-secondary buy-btn {% if goal.account.amount >= goal.cost %} btn-success{% else %} disabled{% endif %}" 
                                            {% if goal.account.amount < goal.cost %} disabled="disabled" value="Insufficient Funds" {% endif %}
                                            onclick="if (confirm('Are you sure you want to complete this goal?')) { window.location.href = '{% url 'savings:complete-goal' goal.id %}'; }" >
                                            {% if goal.account.amount < goal.cost %} 🔒🔒 {% else %} BUY {% endif %}
                                    </button>
                                    
                                        <!-- EDIT btn  -->
                                        <a href="{% url 'savings:update-goal' goal.id %}">
                                            <button id="edit-btn" class="btn btn-secondary" >⚙</button>
                                        </a>
                                        <!-- DELETE btn  -->
                                        <a href="{% url 'savings:delete-goal' goal.id %}">
                                            <button id="delete-btn"  onclick="return confirm('Are you sure you want to delete this savings goal?') ? window.location.href='{% url 'savings:home' %}' : false;" class="btn btn-secondary">🗑️</button>
                                        </a>
                                    </div>
                                </td>     
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>  
        </table>
    </div>

<!-- Add your Accounts section here -->
<div style="width:50%; padding-left: 10px;">
    <table id="accounts-table">
        <div class="goal-progress-btns">
            <h1 style="display: inline">Accounts</h1>
            <a href="{% url 'savings:add-account' %}">
                <button id="account-btn" style="vertical-align: middle;" class="btn btn-secondary">➕</button>
            </a>
            <a href="{% url 'savings:deposit' %}">
                <button id="deposit-btn" class="btn btn-secondary">Deposit</button>
            </a>
        </div>
        <table id="accounts">
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>
                            <h5 style="display: inline;"  >{{ account.name }} Account:</h5>
                        </td>
                        <td>
                            <h5 style="display: inline;">{{ account.amount }}</h5>
                        </td>
                        <td class="center-btn">
                            <a href="{% url 'savings:delete-account' account.id %}" > <button id="delete-btn" class="btn btn-secondary" onclick="return confirm('Are you sure you want to delete this account?') ? window.location.href='{% url 'savings:home' %}' : false;">🗑️</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </table>
</div>
</div>

{% endblock content %}